<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <meta charset="UTF-8">
    <title>Alkomat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <Link href="style.css?version=100" rel="stylesheet" type="text/css">
    <style>

span{
display: inline-block;
width: 190px;
}
</style>
</head>
<body background="https://cdn5.vectorstock.com/i/1000x1000/72/79/alcohol-a-background-vector-1247279.jpg">

<center>
    <div class="main" style="background: rgba(255, 255, 255, 0.5); padding: 10px; width: 700px;  margin-top: 100px; color: black">

    <h1>Alkomat</h1>
    <div class="col-sm-8">

        Ilosć alkoholu we krwi: <p type="text" th:text="${result }">


        <form action="/" method="post">


            <div class="input-group mb19">


                <div class="input-group-prepend">
                    <span  class="input-group-text">Waga KG:</span>
                </div>
                <input type="number" class="form-control" name="weight" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  >
            </div>


            <div class="input-group mb25">

                <div class="input-group-prepend">


                    <span class="input-group-text" >Ilość Alkoholu w mili:</span>
                </div>
                <input type="number" class="form-control" name="quantity" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  >
            </div>




            <div>
                <strong>Wybierz płeć: </strong><input type="radio" value="Kobieta" name="sex" checked>Kobieta</input>
                <input type="radio" value="Mezczyzna" name="sex">Mężczyzna</input>
            </div>
        <div>

        </div>


        <strong>Wybierz rodzaj akoholu</strong><input type="radio" value="Piwo" name="drinkName" checked>Piwo</input>
        <strong></strong><input type="radio" value="Wino" name="drinkName">Wino</input>
        <strong></strong><input type="radio" value="Wodka" name="drinkName">Wódka</input>
        <strong></strong><input type="radio" value="Bimber" name="drinkName">Bimber</input>

        <button value="Alkomat" type="submit" class="btn btn-primary" name="calculate">Oblicz</button>


        </form>


        </div>
    </div>
</center>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

